APP_NAME=BillingOS
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8090
FRONTEND_URL=http://localhost:8090

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=billingos
DB_USERNAME=billingos
DB_PASSWORD=billingos

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="billing@localhost"
MAIL_FROM_NAME="${APP_NAME}"

BROADCAST_CONNECTION=reverb
REVERB_APP_ID=billingos
REVERB_APP_KEY=billingos-key
REVERB_APP_SECRET=billingos-secret
REVERB_HOST=websocket
REVERB_PORT=8080
REVERB_SCHEME=http

# Billing
BILLING_DEFAULT_CURRENCY=EUR
